<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <title>Page d'accueil</title>
</head>
<body>
<header>
    <div class="container container-fluid ">
        <div class="row col-12">
            <nav class="navbar navbar-expand-lg w-100 navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><h1><img src="/images/invoice.png"
                                                              class="img-thumbnail w-25 img-fluid"
                                                              alt="logo"></h1></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Page d'accueil</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Clients
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="clients">Consulter la liste de Clients</a></li>
                                    <li><a class="dropdown-item" href="add-client">Ajouter un client</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Produits
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="products">Consulter la liste des produits</a>
                                    </li>
                                    <li><a class="dropdown-item" href="add-product">Ajouter un produit</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Factures
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="invoices">Consulter la liste des factures</a>
                                    </li>
                                    <li><a class="dropdown-item" href="add-invoice">Ajouter une facture</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="navbar-nav mb-2 mb-lg-0 float-end">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="navBarDropDown"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <span th:text="${#authentication.name}"></span>
                                    <ul class="dropdown-menu" aria-labelledby="navBarDropDown">
                                        <li>
                                            <a class="dropdown-item" href="profile">Profile</a>
                                        </li>
                                        <li>
                                            <form th:action="@{/auth/logout}" method="post">
                                                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                                                <button type="submit" class="dropdown-item">Logout</button>
                                            </form>
                                        </li>
                                    </ul>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<main>
    <div class="container mt-4">
        <div class="row mb-4 mt-4 text-center">
            <h2>Gestion des clients, produits et factures</h2>
        </div>
        <div class="container d-flex justify-content-between align-items-center flex-wrap mt-4 row ">
            <div class="card col-4 d-flex shadow-lg" style="width: 300px; height: 430px">
                <div class="mt-3 mb-2" style="min-height: 280px; height: 280px">
                    <h5 class="card-title text-center">Mes clients</h5>
                    <div style="background:url('/images/client.png') center;  height:90% ;width: 100%"
                         class="d-flex justify-content-center"></div>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-column">
                        <a href="clients" class="btn btn-primary btn-sm mt-2 mb-2" role="button">Consulter</a>
                        <a href="add-client" class="btn btn-primary btn-sm mt-2 " role="button">Ajouter un
                            client</a>
                    </div>
                </div>
            </div>
            <div class="card col-4 d-flex shadow-lg" style="width: 300px; height: 430px">
                <div class="mt-3 mb-2" style="min-height: 280px; height: 280px">
                    <h5 class="card-title text-center">Mes produits</h5>
                    <div style="background:url('/images/products.jpg') center;  height:90% ;width: 100%"
                         class="d-flex justify-content-center">
                    </div>
                </div>
                <div class="card-body ">
                    <div class="d-flex flex-column">
                        <a href="products" class="btn btn-primary btn-sm mt-2 mb-2" role="button">Consulter</a>
                        <a href="add-product" class="btn btn-primary btn-sm mt-2 mb-2" role="button">Ajouter un
                            produit</a>
                    </div>
                </div>
            </div>
            <div class="card  col-4 d-flex shadow-lg" style="width: 300px; height: 430px">
                <div class="mt-3 mb-2" style="min-height: 280px; height: 280px">
                    <h5 class="card-title text-center">Mes Factures</h5>
                    <div style="background:url('/images/invoice.png') center no-repeat ; height:90% ;width: 100%"
                         class="d-flex justify-content-center"></div>
                </div>
                <div class="card-body h-100">
                    <div class="d-flex flex-column">
                        <a href="invoices" class="btn btn-primary btn-sm mt-2 mb-2" role="button">Consulter</a>
                        <a href="add-invoice" class="btn btn-primary btn-sm mt-2 mb-2" role="button">Ajouter une
                            facture</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="container fixed-bottom mt-3 pt-3 w-100">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2023 - Made by Fanja.P</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>