<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
          crossorigin="anonymous"></script>
  <title>Mes Factures</title>
</head>
<body>

<header>
  <div class="container container-fluid ">
    <div class="row col-12">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="home"><h1><img src="/images/invoice.png" class="img-thumbnail w-25"
                                                    alt="logo"></h1></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="home">Page d'accuil</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Clients
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="clients">Consulter la liste de Clients</a></li>
                  <li><a class="dropdown-item" href="add-client">Ajouter un client</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Produits
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="products">Consulter la liste des produits</a></li>
                  <li><a class="dropdown-item" href="add-product">Ajouter un produit</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Factures
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="invoices">Consulter la liste des factures</a></li>
                  <li><a class="dropdown-item" href="add-invoice">Ajouter une facture</a></li>
                </ul>
              </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0 float-end">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="navBarDropDown" data-bs-toggle="dropdown" aria-expanded="false">
                  <ul class="dropdown-menu" aria-labelledby="navBarDropDown">
                    <li>
                      <a class="dropdown-item" href="profile">Profile</a>
                    </li>
                    <li><a class="dropdown-item" href="#" th:href="@{/logout}">Logout</a></li>
                  </ul>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>



<main>
  <div class="container container-fluid mt-5">
    <div class="row col-12 mt-5 mb-4">
      <h2 class="text-center">Mes Factures</h2>
    </div>
    <div class="row col-12 mb-3">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Numéro</th>
          <th scope="col">Date de création</th>
          <th scope="col">Echéance (1mois après)</th>
          <th scope="col">Type de payement</th>
          <th scope="col">Client</th>
          <th scope="col">Produits</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i:${invoices}">
          <td th:text="${i.getId()}"></td>
          <td th:text="${i.getInvoiceCreationDate()}"></td>
          <td th:text="${i.getInvoiceDeadline()}"></td>
          <td th:text="${i.getPayment().typeOfPayment}"></td>
          <td th:text="${i.getClient().getCompagnyName()}"></td>
          <td th:text="${i.getProduct().getProductName()}"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row col-2 mx-auto">
      <a href="add-invoice" class="btn btn-primary btn-sm" tabindex="-1" role="button">Ajouter une facture</a>
    </div>
  </div>
</main>
<footer>
  <div class="container fixed-bottom mt-3 pt-3 w-100">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>&copy; 2023 - Made by Fanja.P</p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>