<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
  <title>Login</title>
</head>
<body>

<header>
  <div class="container">
    <div class="mt-5">
      <h1 class="text-center">Login</h1>
    </div>
  </div>
</header>
<main>
  <div class=" card w-25 container d-flex justify-content-center align-items-center flex-column mt-4 shadow-lg">
    <div class=" card-body row col-4 w-100">
      <form action="#" th:action="@{/login}" th:object="${form}" method="post">
        <div class="mb-3 col-12">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3 col-12">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3 col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <div class="error" th:if="${error}">
      <p>  Invalid email or password</p>
    </div>
  </div>
</main>
<footer>
  <div class="container fixed-bottom mt-3 pt-3 w-100">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>&copy; 2023 - Made by Fanja.P</p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>